/* 代码初始化 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif }
td,th,caption { font-size:14px }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100% }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal}
a { color:#555; text-decoration:none }
a:hover { text-decoration:underline }
img { border:none }
ol,ul,li { list-style:none }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif }
table { border-collapse:collapse }
/* html {overflow-y: scroll} */
/* css 清除浮动*/
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden}
.clearfix { *zoom:1 }

.bg-gray { background: #d8d5d5; }

.ui.menu {margin:0;}
.ui.modal>.header {padding:0 0 0.7rem 0;}
.field textarea {resize:none!important;}

.subheader { 
    min-height: 47px;
    border-bottom: 1px solid #c7cacd; 
    padding-top: 18px; 
    padding-left: 10px; 
}
.subheader .column { 
    display: inline-block; 
    height: 19px; 
    width: 26px; 
    font-size: 20px; 
    margin: 0 4px; 
}
.subheader .column:hover { cursor: pointer;}
.subheader .divider { 
    display: inline-block; 
    height: 14px; 
    border-right: 1px solid #c7cacd; 
}
.editor-toolbar .icon { color: #3B5998 }
.editor-toolbar .icon:hover { color: #21BA45; }

.full {height: 93%}
.full-left,.full-right { height: 594px; float: left }
.full-left { width: 8%; padding: 5px; }
.full-right { width: 92% }
.full-right form { height: 574px }
.full-right-top { background-image: url(../icons/gooflow_blank2.gif)!important; }
.view { height: 67%; border-left: 1px solid #c7cacd;}
.full-right-btn { 
    border-top: 1px solid #D4D4D5!important; 
    border-left: 1px solid #D4D4D5!important; 
    margin-bottom: 0px!important 
    height: 3%;
    margin-bottom: 0px!important;
}
.full-right-btn .item{ height: 100% }
.full-right-bottom { height: 30%; border: 1px solid #c7cacd }
.components-btn { 
    margin-top: 2px; 
    line-height: 23px; 
    min-width: 100px; 
    min-height: 23px; 
}
.components-btn:hover { background: #d8d5d5; }
.components-btn.active { background: #d8d5d5 }
.components-btn img,span{ cursor: pointer }
.components-btn img { float: left; margin: 4px 0 4px 3px }
.components-btn span { float: left; padding-left: 5px; display: block; }
.selectBtn { padding-left: 2px }
.selectBtn img { margin:4px 3px 4px 3px }

.startComponent { 
    height: 50px; 
    width: 100px; 
    border: 2px solid #938f8e; 
    background: url('../icons/startevent/none.png') no-repeat; 
}
.activityComponent { 
    height: 50px; 
    width: 100px; 
    border: 2px solid #938f8e; 
    background: url('../icons/activity/list/type.user.png') no-repeat; 
}
.endComponent { 
    height: 50px; 
    width: 100px; 
    border: 2px solid #938f8e; 
    background: url('../icons/endevent/none.png') no-repeat; 
}
.component { cursor: move; }
.component:hover > .connect {
	display: block; 
    cursor: crosshair;
}
.connect {
    width: 23px;
    height: 27px;
    padding-bottom: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url('../icons/connector/sequenceflow.png') no-repeat;
    float: right;
    position: relative;
    right: -21px;
    top: -5px
}
.component span { margin-top: 20px; display: block; }

.component-name {
    height: 50px;
    font-size: 19px;
    background: #EDE8F1;
    border-bottom: 1px solid #ADACB8;
    line-height: 50px;
    padding-left: 7px;
    font-weight: bold;
}
.component-name:hover { cursor: pointer; }
.component-name:hover i:first-child { color: #66C17B; }
.component-prop { height: 114px; }
.component-prop .prop-value {
    float: left;
    width: 40%;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
}

.prop-value span:first-child { 
    font-weight: bold; 
    display: block; 
    width: 36%; 
    float: left; 
    padding-left: 10px 
}

#xpdlContainer xmp { margin: 0px; color: #736c6c; padding: 8px; }
#xmlContainer xmp { margin: 0px; color: #736c6c; padding: 8px; }
#xmlContainer script { display: block; }
.content-div { overflow: auto; }
.json_data.modal textarea { width: 100%!important; height: 100px; padding: 7px }
#rMenu { position: absolute; width: 82px!important; display: none;}
.prop_node.modal{ height:577px; }
.prop_node>.tab{ height: 447px }  
/* .prop_node.modal { height: 705px; }
.prop_node>.tab { height: 568px }*/
.prop_node.model .ui.checkbox label { font-size: 0.8em!important }

.prop_node_second.modal { height: 410px }
.toolgrid { height: 444px; }
.ui.vertical button{ margin-bottom: 2px }
.tool_add { height: 529px }
.front_condition { height: 416px }

.post_condition .targetActivityShow { border: 1px solid #dedede; padding: 8px 6px; height: 60px; overflow-y: auto; font-size: 14px; }
.post_condition .aligned.list {  }
.post_condition .item { line-height: 19px; padding: 3px 6px!important }
.post_condition .list .active { background: #dedede; }
.post_condition .tab { height: 414px }
.post_condition .business_obj { height: 165px; }
.post_condition .targetActivity { margin-top: 10px; }

.conditionDiv .fields .field:nth-child(3) label { width: 70px!important; }
.conditionDiv .conditionList { height: 130px; width:100%;}
.userdefineDiv .field label { width: 35px!important; }

.workflowbeanDiv .content-div { height: 143px; }

.hideDiv { display: none }
.hideitem { display: none!important }

.prop_node_second .bottom.tab { height: 90px }

.conventional_definition { height: 493px}
.conventional_definition>.tab { height: 360px }
.transferInf_extended_attr .postCondi_extendedAttr {
    height: 129px;
    overflow-y: auto;
}
.definition_condition {
    height: 129px;
    overflow-y: auto;
}

.timeout_limit_grid .content-div {
    height: 129px;
    width: 90%;
    overflow-y: auto;
}
.monitorinfAddDefinition { height: 493px }
.monitorinfAddDefinition>.tab { height: 360px }

/* .tooldefinition_add.modal{ height: 553px } */
.ui.standards { height: 560px; }

.monitorinf_grid { height:370px; }

.detailDiv .fields .field:nth-child(1) .dropdown.selection {
    width: 193px!important;
}

.delivery label { width: 36px!important; }

.prop_edge .header { margin-bottom: 10px!important; }
.prop_edge .tab { height: 400px }
