
p{
  text-align: center;
  overflow: overlay;
  position: relative;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248)
}

#toolbox{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
}

#helpbox {
  position: absolute;
  bottom: 70px;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
}

#helpbox :hover {
  cursor: pointer;
}

#inspector{
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border-left: 2px solid #B94851;
  padding: 1em;
  z-index: 5;
  background-color: #f1f1f1;
  height: 100%;
}

#toolbox input{
  width: 30px;
  opacity: 0.4;
}
#toolbox input:hover{
  opacity: 1;
  cursor: pointer;
}

#hidden-file-upload{
  display: none;
}

#download-input{
  margin: 0 0.5em;
}

.conceptG text{
  pointer-events: none;
}

marker{
  fill: #333;
}

g.conceptG circle{
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG:hover circle{
  fill: rgb(200, 238, 241);
}

g.selected circle{
  fill: #e8d0ef;
}
g.selected:hover circle{
  fill: #e8d0ef;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 5px;
  cursor: default;
}

path.link:hover{
  stroke: rgb(94, 196, 204);
}

g.connect-node circle{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}

path.link.selected {
  stroke: rgb(229, 172, 247);
}
